<mat-toolbar color="primary" class="toolbar">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <div class="icon-container" matTooltip="Log out" (click)='logout()'>
    <mat-icon class="signout-icon">logout</mat-icon>
  </div>
  <mat-progress-bar class="progress-bar"
    *ngIf="loading" mode="query"></mat-progress-bar>
</mat-toolbar>

<div class="container">
  <div *ngIf="projects?.length > 0" class="projects-container">
    <div class="column" *ngFor="let project of projects">
      <!--<header>
      <h1 style="margin-bottom:0px;">{{project.name}}</h1>
      <p style="margin:0;padding:20px;padding-top:0;">Bla bla</p>
      </header>-->
       <div class="column-title-container">{{ project.name }}</div>

      <mat-card class="card mat-elevation-z0 add-new-task"
        (click)=openCreateTaskDialog(project)>
        <mat-card-header>
          <div mat-card-avatar class="add-img"></div>
          <mat-card-title class="small-title">Add task</mat-card-title>
          <mat-card-subtitle>New task</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <mat-card class="card"
        *ngFor="let task of sortTasksByPriority(project.tasks); let i = index"
        [ngClass]="task.status == 'completed' ?
          'mat-elevation-z0 completed' : 'not-completed'">

        <mat-card-header>
          <div mat-card-avatar class="completed-icon"
            *ngIf="task.status == 'completed'">
            <mat-icon style="line-height:32px;">done</mat-icon>
          </div>
          <div mat-card-avatar class="taken-icon"
            *ngIf="task.status == 'taken'">
            <mat-icon style="line-height:32px;">today</mat-icon>
          </div>
          <div mat-card-avatar class="hold-icon"
            *ngIf="task.status == 'on_hold'">
            <mat-icon style="line-height:32px;">pause_circle_outline</mat-icon>
          </div>
          <div mat-card-avatar class="priority-icon"
            *ngIf="task.status == 'new'"
            (click)="changeTaskPriority(task)"
            [ngClass]="{
              'one': task.priority == 1,
              'two': task.priority == 2,
              'three': task.priority == 3
            }">
            {{ task.priority }}
          </div>

          <mat-card-title class="small-title"
            (click)="openEditTaskDialog(task)">
              {{ task.description }}
          </mat-card-title>
          <mat-card-subtitle *ngIf="!task.completed">
            {{ task.startDateStr }}
          </mat-card-subtitle>
          <mat-card-subtitle *ngIf="task.completed">
            {{ task.endDateStr }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions
          *ngIf="task.status == 'new' || task.status == 'taken'">
          <a [href]="resource.hyperlink" target="_blank"
            mat-button *ngFor="let resource of task.resources">
            {{ resource.name }}
          </a>
          <button mat-icon-button aria-label="add resource"
            matTooltip="Add resource"
            (click)="openCreateResourceDialog(task)">
            <mat-icon style="font-size:18px; color: #e1e1e1">add</mat-icon>
          </button>
        </mat-card-actions>

        <mat-card-actions style="border-top:1px dashed #e1e1e1">

          <button mat-button *ngIf="task.status =='completed'"
            (click)="setTaskOpen(task)">
            REOPEN
          </button>

          <button mat-button *ngIf="task.status == 'new'"
            style="padding: 0; margin: 0"
            (click)="setTaskTaken(task)">
            TAKE
          </button>

          <button mat-button *ngIf="task.status == 'new'"
            (click)="setTaskOnHold(task)">
            HOLD
          </button>

          <button mat-button
            *ngIf="task.status == 'on_hold'"
            (click)="setTaskNew(task)">
            RESUME
          </button>

          <button mat-button style="color:#4caf50"
            *ngIf="task.status == 'taken'"
            (click)="setTaskCompleted(task)">
            DONE
          </button>

          <button mat-button
            *ngIf="task.status == 'taken'"
            (click)="setTaskNew(task)">
            DROP
          </button>

          <button mat-icon-button aria-label="delete"
            *ngIf="task.status == 'new' || task.status == 'taken'"
            matTooltip="Delete task"
            (click)="deleteTask(task, project, i)">
            <mat-icon style="font-size:18px;">delete</mat-icon>
          </button>
        </mat-card-actions>

      </mat-card>

    </div>
  </div>
  <div *ngIf="projects?.length == 0" class="no-projects-message">
    You haven't created any projects yet :(
  </div>
  <button matTooltip="Add Project"
    style="position:fixed; bottom: 40px; right:40px"
    mat-fab color="primary"
    (click)="openCreateProjectDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
