<mat-toolbar color="primary" class="toolbar">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <mat-progress-bar class="progress-bar"
    *ngIf="loading" mode="query"></mat-progress-bar>
</mat-toolbar>
<div class="container">
  <div class="column">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Welcome back!</mat-card-title>
        <mat-card-subtitle>Please log in to continue.</mat-card-subtitle>
      </mat-card-header>

      <form [formGroup]="loginForm">

        <mat-form-field appearance="outline" class="input">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" id="username">
          <mat-error *ngIf="loginForm.get('username').invalid">
            Please enter a valid username.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
          <mat-label>Password</mat-label>
          <input id="password" type="password"
            matInput formControlName="password">
            <mat-error *ngIf="loginForm.get('password').invalid">
              Please enter a valid password.
            </mat-error>
        </mat-form-field>
        <br>

        <button mat-raised-button
          color="primary"
          [disabled]="submitted"
          (click)="login()">LOG IN</button>
        <button mat-button
          style="float:right"
          routerLink="/signup" 
          color="primary"
          [disabled]="submitted">SIGN UP</button>

      </form>
    </mat-card>
  </div>
</div>
